<div class="offline-content">
  <span>{{d-icon (theme-setting 'offline_indicator_icon')}} {{i18n (theme-prefix "offline.title")}}</span>
  <span>{{i18n (theme-prefix "offline.description")}}</span>
</div>
