.offline-indicator {
  display: none;
  position: sticky;
  position: -webkit-sticky;
  margin-right: 1em;
  margin-left: auto;
  bottom: 1em;
  text-align: center;
  width: #{$offline_indicator_width};
  border-radius: #{$offline_indicator_rounding};
  background-color: #{$offline_indicator_background_color};
  color: #{$offline_indicator_text_color};
  border: 1px solid #{$offline_indicator_border_color};
  z-index: z("header") - 10;
  .offline-content {
    padding: 1em;
  }
  span:first-child {
    font-weight: 600;
    display: block;
    margin-bottom: 0.25em;
  }
  body.offline & {
    display: block;
  }
  .mobile-view & {
    width: calc(100% - 20px);
    margin: auto;
  }
}
